.notActive{ 
    color: #4cae4c;
    background-color: #fff;
}
.div-tabela {
    height: 500px;
    overflow-y: scroll;
}
.table-tabela {
    width: 100%;
    border-collapse: collapse;
}
.th-tabela {
    position: sticky;
    top: 0;
    background: #fff;
}
.is-invalid{
    border-color: #dc3545;
}
.is-valid{
    border-color: #28a745;
}
.pointer:hover{ 
    cursor: pointer; 
}
.t-display {
    display: block;
}
.align-middle{
    vertical-align: middle;
}
.align-center-col{
    float: none; 
    margin: 0 auto; 
    text-align: center;
}

.centered {
    text-align: center;
}
.centered > div {
    float: none;
    display: inline-block;
}
.t-float{ 
    float: center; 
}
.w-1 {
    width: 10%;
}
.w-2 { 
    width: 20%;
}
.w-3 { 
    width: 30%;
}
.w-4 { 
    width: 40%;
}
.w-5 { 
    width: 50%;
}
.w-6 { 
    width: 60%;
}
.w-10 { 
    width: 100%;
}
.mt-1 { 
    margin-top: 1%;
}
.mt-2 { 
    margin-top: 2%;
}
.mt-3 { 
    margin-top: 3%;
}
.mt-4 { 
    margin-top: 4%;
}
.mt-5 { 
    margin-top: 5%;
}
.mt-10 { 
    margin-top: 10%;
}
.mb-1 { 
    margin-bottom: 1%;
}
.mb-2 { 
    margin-bottom: 2%;
}
.mb-3 { 
    margin-bottom: 3%;
}
.mb-4 { 
    margin-bottom: 4%;
}
.mb-5 { 
    margin-bottom: 5%;
}
.mb-10 { 
    margin-bottom: 10%;
}
.p-2 {
    padding: 2%
}
.p-4 {
    padding: 4%
}

.justificado{
    text-align: justify;
}
.center{
    text-align: center;
} 
.posicao{ 
    position: relative; 
    transform: translateY(50%);
}
.panel-Teal {
    border-color: #008080;
}
.panel-Teal > .panel-heading {
    border-color: #008080; 
    color: white; 
    background-color: #008080;
}
.panel-Teal > a {
    color: #008080;
}
.panel-Teal > a:hover {
    color: #008080;
}
.panel-orchid {
    border-color: #BA55D3;
}
.panel-orchid > .panel-heading { 
    border-color: #BA55D3;
    color: white;
    background-color: #BA55D3;
}
.panel-orchid > a {
    color: #BA55D3;
}
.panel-orchid > a:hover {
    color: #BA55D3;
}
.panel-greenSea {
    border-color: #8FBC8F;
}
.panel-greenSea > .panel-heading { 
    border-color: #8FBC8F;
    color: white; 
    background-color: #8FBC8F;
}
.panel-greenSea > a {
    color: #8FBC8F;
}
.panel-greenSea > a:hover {
    color: #8FBC8F;
}
.panel-salmon {
    border-color: #FA8072;
}
.panel-salmon > .panel-heading {
   border-color: #FA8072;
   color: white; 
   background-color: #FA8072;
}
.panel-salmon > a {
    color: #FA8072;
}
.panel-salmon > a:hover {
    color: #FA8072;
}
.panel-violet {
    border-color: #DB7093;
}
.panel-violet > .panel-heading { 
    border-color: #DB7093;
    color: white;
    background-color: #DB7093;
}
.panel-violet > a {
    color: #DB7093;
}
.panel-violet > a:hover {
    color: #DB7093;
}
.panel-gold {
    border-color: #CDAD00;
}
.panel-gold > .panel-heading {
   border-color: #CDAD00; 
   color: white;
   background-color: #CDAD00;
}
.panel-gold > a {
    color: #CDAD00;
}
.panel-gold > a:hover {
    color: #CDAD00;
}
.panel-cade {
    border-color: #6CA6CD;
}
.panel-cade > .panel-heading {
   border-color: #6CA6CD;
   color: white; 
   background-color: #6CA6CD;
}
.panel-cade > a {
    color: #6CA6CD;
}
.panel-cade > a:hover {
    color: #6CA6CD;
}
.row-fluid {
   display: flex;
   align-items: flex-end;
}
.row-center {
   display: flex;
   align-items: center;
}

.font-weight-bold{
    font-weight: bold;
}

.font-italic {
    font-style: italic;
}
.rounded-pill{
    border-radius: 50rem!important;
}
.text-red{
    color: #de1010;
}
.color-orange{
    color: #f0ad4e;
}
.color-green{
    color: #5cb85c;
}
.color-danger{
    color: #d9534f;
}
.color-warning{
    color: #ffcc00;
}
.color-success{
    color: #5cb85c;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
}
.busca{
    display: none;
 }

 /*.ativo {
     background-color: royalblue;
 }*/

.page-title{
   line-height: 1;
   font-weight: 700;
   color: #112b4a;
}
.dragHelper{
    display: block;
       padding: 30px;
       margin-top: 10px;
    background: #fff;
    border: 2px dashed #c2cdda;
    border-radius: 3px;
    text-align: center;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}	

.item{
    padding: 5px;
    cursor: move;
    border-left: 1px solid #5bc0de;
    border-left-width: 5px;
    border-radius: 3px;
}
.panel-group .item {
    border-left: 1px solid #337ab7;
    border-left-width: 5px;
    border-radius: 3px;
    cursor: pointer;
}
.modal .bg-primary{
    border-radius: 4px;
}